.github

.storybook

.vscode

apps

libs

node_modules

tools

.*

angular.json

index.html

jest.*

nx.json

tsconfig.*

decorate-angular-cli.js

dist/apps/baufi24-disclaimer/styles.*
dist/apps/baufi24-disclaimer/runtime.*
dist/apps/baufi24-disclaimer/polyfills.*
dist/apps/baufi24-disclaimer/main.*
dist/apps/baufi24-disclaimer/index.*
dist/apps/baufi24-disclaimer/styles.*
dist/apps/baufi24-disclaimer/favicon.ico
